body{
    font-family:sans-serif;
    background-color:rgb(17, 17, 17);
    margin:0;
    color: #fff;line-height: 1.6;

}
a{
    text-decoration: none;
    color:#ccc ;

}
#showcase{
    margin: 0;
    padding: 0;
    background:url(https://images.unsplash.com/photo-1562920618-af1f5f02f0be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60) no-repeat center/cover;
    
    /* background: url(car.png)no-repeat center/cover;  */
    width: 100%;
    height: 100vh;  
    position: relative;
    overflow: hidden;
    overflow-y: hidden;
}
#showcase .container{
    margin-top: 25vh;

}
#showcase h1{
     font-size: 4.5rem;    /*root element font size */
     margin-bottom: 0;
     color:rgb(250, 250, 250);
}
#showcase h2{
    font-size: 2rem;    /*root element font size */
    color: rgb(251, 252, 252);
}
nav{
    height: 40px;
    width:100% ;
    background-color: #333;
    color: rgb(51,34,34);
    position: fixed;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    display: inline;
    float: left;

}
nav a{
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;     /*top-bottom/left-0right* */
    color:#eee;
}
nav li:hover{
    background-color: rgb(42, 5, 252);
    border-radius: 5px;

}
.container{
    max-width: 1189px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}
.lead{
    font-size: 1.1rem;
    color: rgb(255, 255, 253);

}
footer .footer-cols{
       display: grid;
       grid-gap: 20px;
       grid-template-columns: repeat(4,1fr);
       padding: 2rem;
       text-align: left;
       font-size: 14px;
}
footer .footer-cols ul{
    list-style: none;
}
footer .footer-cols ul li:first-child{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: #444 solid 1px;
    margin-bottom: 1rem;

}
footer .footer-bottom{
    text-align: center;
    background-color: #333;
    padding: 1rem;
}
button{
    background-color:white;
    color: black;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 10px;
    
}
button:hover{
    background-color: rgb(97, 125, 129);
    
    
}

